* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f4f4f4;
}

li {
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 55px;
  width: 100%;
  background: #333;
  color: #f4f4f4;
}

.nav-links {
  height: 100%;
}

.nav-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;

  & li {
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: -2px;
      left: 0;
      background: #f4f4f4;
      transition: all 0.4s ease;
    }
  }

  & li:hover::after {
    width: 100%;
  }
}

.logo {
  font-weight: 600;
}

.todo-container {
  & .todo-title {
    font-size: 1.3rem;
    margin: 35px;
    text-align: center;
  }

  & .todo-input {
    width: 50%;
    font-size: 1rem;
    padding: 14px;
    border: 1px solid #333;
    outline: none;
  }

  & .todo-btn {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333;
    color: #f4f4f4;
  }
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  margin-top: 35px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
}

.todo-item {
  width: 100%;
  background: #333;
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;

  & input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #f4f4f4;
    font-size: 1rem;
  }
}

.noTodo {
  color: #444444;
  margin-top: 20%;
  font-size: 1.2rem;
}

.todo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.completed {
  text-decoration: line-through !important;
  
}

.faded{
    background: #525252 !important;
}